section {
    margin: 0;
    padding: 24px;
    box-sizing: border-box;
}

section h1, section p {
    color: black;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

section h1 {
    font-size: 32px;
}

section p {
    font-size: 16px;
}

#welcome {
    min-height: calc(100vh - 65px);
    display: grid;
    grid-template-rows: 1fr auto auto auto 1fr auto;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
    overflow: hidden;
}

#welcome h1, #welcome p, #welcome a, #welcome #icon {
    text-align: center;
}

#welcome img {
    grid-row: 2;
    grid-column: 3/7;
    margin: auto;
    height: 64px;
    width: 64px;
}

#welcome h1 {
    grid-row: 3;
    grid-column: 3/7;
}

#welcome p {
    grid-row: 4;
    grid-column: 3/7;
}

#welcome a {
    grid-row: 6;
    grid-column: 3/7;
    font-size: 0;
    text-decoration: none;
    margin: auto;
}

#welcome a::before {
    content: 'expand_more';
    font-family: 'Material Icons';
    font-size: 32px;
    line-height: 64px;
    width: 64px;
    display: inline-block;
    border: solid 1px #E0E0E0;
    border-radius: 50%;
}

.features {
    border-top: solid 1px #E0E0E0;
    display: grid;
    grid-auto-rows: 1fr auto auto auto 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
}

.features img {
    grid-row: 1;
    width: 100%;
    max-width: 320px;
    margin: auto;
}

.features div {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.features:nth-of-type(2n) img {
    grid-column: 2/5;
}

.features:nth-of-type(2n) div {
    grid-column: 5/8;
}

.features:nth-of-type(2n+1) img {
    grid-column: 5/8;
}

.features:nth-of-type(2n+1) div {
    grid-column: 2/5;
}

.features div p {
    margin: 16px 0;
}

.features div a {
    font-size: 32px;
    line-height: 64px;
    text-decoration: none;
    color: #1a237e;
    font-weight: normal;
    transition: color .2s ease;
}

.features div a::after {
    content: 'east';
    font-family: 'Material Icons';
    font-size: 32px;
    float: right;
    width: 64px;
    margin-left: 32px;
    display: block;
    transition: margin-left .2s ease;
}

.features div a:hover {
    color: #303f9f;
    transition: color .25s ease;
}

.features div a:hover::after {
    margin-left: 48px;
    transition: margin-left .25s ease;
}

@media screen and (max-width: 719px) {
    section {
        padding: 16px;
    }
}

@media screen and (max-width: 599px) {
    #welcome {
        grid-template-columns: 1fr;
    }
    #welcome img, #welcome h1, #welcome p, #welcome a {
        grid-column: 1;
    }
    .features {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (prefers-color-scheme: dark) {
    section h1, section p {
        color: white;
    }
    #welcome a::before, .features {
        border-color: #424242;
    }
    .features div a {
        color: #7986cb;
    }
    .features div a:hover {
        color: #9fa8daff;
    }
}